#links {
    list-style: none;
    margin-left: 0;
}

#links > li {
    display: inline;
}

#links > li::after {
  content: " → ";
  padding: 0 0.2em;
}

#links > li:last-child::after {
  content: "";
}

.paintings-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin-bottom: 2em;
}

.paintings-image > img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.painting-unavailable.hidden {
    display: none;
}

#painting-metadata {
    list-style: none;
    margin-left: 0;
}
