#links {
    list-style: none;
    margin-left: 0;
}

#links > li {
    display: inline;
}

#links > li::after {
  content: " → ";
  padding: 0 0.2em;
}

#links > li:last-child::after {
  content: "";
}

#painting-metadata {
    list-style: none;
    margin-left: 0;
}
